node_modules
.env
.env.local
.env.production
.next
out

/public/uploads
.vercel

# Package manager
yarn.lock
.yarn/

# Authentication tokens
.npmrc
.puppeteer-cache
.DS_Store
.ds_store
**/.DS_Store
*.tsbuildinfo
test-results
playwright-report
coverage